
  <nav class="navbar navbar-expand-lg sticky-top">
  <a class="navbar-brand font-weight-bold" [routerLink]="['/home']">JLAS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active font-weight-bold" [routerLink]="['/apply-for-leave']">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active font-weight-bold" href="#">Register</a>
      </li>

    </ul>



      <button class="btn  my-2 my-sm-0  mr-4 " type="submit" >  Login</button>
      <button class="btn  my-2 my-sm-0" type="submit">  Register</button>

  </div>
</nav>


